<%- contentFor('bodyContent') %>
<div class="otherError">
    <div class="oops">
        <p class="oops_title">Oops!</p>
        <p class="oops_sub1">Something went wrong and we couldn't process your request.</p>
        <p class="oops_sub2">Please go back to the previous page and try again.</p>
        <p style="width: 100vw;text-align: center;"><%= error.message%></p>  
    </div>
</div>

